# (General) Environment Configuration
VITE_APP_NAME=""                 # e.g., "ExampleApp" 
VITE_APP_ENV="dev"               # dev | prod | staging
VITE_API_SERVER_URL=""           # e.g., "https://api.example.com"
VITE_API_REQUEST_TIMEOUT="15000" # 15000 ms = 15 seconds

# (Authentication) Environment Configuration
VITE_AUTH_JWT_SECRET=""          # openssl rand -base64 32
VITE_AUTH_JWT_EXPIRES_IN="3600"  # 3600 seconds = 1 hr