# misc
.DS_Store
.cache

# dependencies
node_modules

# turbo
.turbo

# logs
*.log

# build outputs
dist
dist-ssr
public/dist

# env
.env*
!.env.example
envs/*.env
!envs/*.example.env

# cache
.cache

# editor / OS
.DS_Store
.vscode
.idea
